.statusBarScores {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	font-size: 14px;
	width: 100%;
	list-style: none;
}

.statusBarScores li:nth-child(2n) {
	text-align: right;
}

.roundsWrapper {
	display: flex;
	flex-direction: column-reverse;
}